In [1]:
import math
import random
import scipy
import statistics
import numpy as np
import scipy.stats
from scipy import stats
from scipy.stats import f_oneway
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp as mc

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
Table1 = pd.read_csv('drive/My Drive/data/Lab4_Data.csv', sep=',', na_values=".")
Table1

    a  b  c  Time
0  -1 -1 -1  2.51
1   1 -1 -1  2.57
2  -1  1 -1  1.98
3  -1 -1  1  2.05
4   1  1 -1  2.25
5  -1  1  1  1.65
6   1 -1  1  2.18
7   1  1  1  1.85
8  -1 -1 -1  2.31
9   1 -1 -1  2.41
10 -1  1 -1  2.19
11 -1 -1  1  2.05
12  1  1 -1  2.24
13 -1  1  1  1.72
14  1 -1  1  2.30
15  1  1  1  2.05

In [4]:
df=Table1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       16 non-null     int64
 1   b       16 non-null     int64
 2   c       16 non-null     int64
 3   Time    16 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 640.0 bytes

In [5]:
model = ols('Time ~ C(a) + C(b) + C(c) + C(a):C(b)+ C(b):C(c)+ C(a):C(c)+ C(a):C(b):C(c)', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=3)
aov_table

                   sum_sq   df            F        PR(>F)
Intercept       11.616200  1.0  1099.108220  7.476819e-10
C(a)             0.006400  1.0     0.605559  4.588593e-01
C(b)             0.105625  1.0     9.994086  1.336789e-02
C(c)             0.129600  1.0    12.262567  8.057860e-03
C(a):C(b)        0.003200  1.0     0.302779  5.971695e-01
C(b):C(c)        0.000800  1.0     0.075695  7.901908e-01
C(a):C(c)        0.006050  1.0     0.572442  4.709818e-01
C(a):C(b):C(c)   0.000006  1.0     0.000591  9.811946e-01
Residual         0.084550  8.0          NaN           NaN